
/*Arman*/
/*index*/
body{
    padding-top: 0px !important; 
    overflow-x: hidden;
}

.login{
    margin: auto; 
   
}


#backgroundImg{
    position: absolute;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;

}

@font-face {
    font-family: 'Pacifico'; /*a name to be used later*/
    src: url('../resources/Pacifico.ttf'); /*URL to font*/
}

#logo{
    max-width: 400px;
    max-height: 400px;
    margin-right: auto;
    margin-left: -50px;
    margin-bottom: 20px;
    margin-top: -80px;


}

.form {
    top: 15vh;
    position: relative;
    z-index: 1;
    background: #5b5873;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.8;

}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ef7c24;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #ffebae;
    color: black;
}
.form .message {
    margin: 15px 0 0;
    color: white;
    font-size: 16px;
}
.form .message a {
    color: #ffebae;
    text-decoration: none;
}
.form .register-form {
    display: none;
}


#longDiv{
    position:relative;
    width:100%;
    height: 70%;  
}

#centerContent{
    position: relative;
    width:100%;
    height: 1000px;
    
}


/*index slut/*

 */
.navbar-nav {
    float:none;
    margin: auto;
    display: block;
    text-align: center;
    clear: inherit;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

/*Arman*/