
/*Arman*/
/*index*/
body{
    padding-top: 0px !important; 
    overflow-x: hidden;
}

.login{
    margin: auto; 
   
}


#backgroundImg{
    position: absolute;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

}

@font-face {
    font-family: 'Pacifico'; /*a name to be used later*/
    src: url('../resources/Pacifico.ttf'); /*URL to font*/
}

#logo{
    max-width: 400px;
    max-height: 400px;
    margin-right: auto;
    margin-left: -50px;
    margin-bottom: 20px;
    margin-top: -80px;


}

.form {
    top: 15vh;
    position: relative;
    z-index: 1;
    background: #5b5873;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.8;

}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ef7c24;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #ffebae;
    color: black;
}
.form .message {
    margin: 15px 0 0;
    color: white;
    font-size: 16px;
}
.form .message a {
    color: #ffebae;
    text-decoration: none;
}
.form .register-form {
    display: none;
}

#centerContent{
    top: 60vh;
    position: relative;
    width:100%;
    height: 1000px;
  
}

#redHeart{
    display:inline-block;
    width: 1000px;
    
}
#redHeart img{
   float: left;
    /*
    shape-outside: polygon(14.85vw 12.5vw, 12.85vw 11.5vw, 10.85vw 9.95vw, 10.2vw 8.15vw, 9.9vw 7.15vw, 10.45vw 5.55vw, 12.6vw 4.1vw, 14.8vw 3.9vw, 17.2vw 4.75vw, 18.95vw 7.1vw, 20.35vw 4vw, 23.35vw 1.3vw, 26.3vw 1.05vw, 27.6vw 2.35vw, 28.3vw 3.15vw, 28.55vw 5.15vw, 28.15vw 7.25vw, 25.4vw 11vw, 23.85vw 13.6vw, 23.9vw 14.55vw, 23.35vw 14.9vw, 21.8vw 17.6vw, 21.3vw 16.45vw, 20.2vw 15.4vw, 18.65vw 14.15vw);"
    
    
    
    polygon(318px 267px, 276px 246px, 233px 213px, 218px 174px, 212px 153px, 223px 120px, 270px 89px, 317px 84px, 367px 102px, 405px 153px, 436px 86px, 500px 29px, 563px 24px, 600px 36px, 613px 66px, 622px 100px, 617px 136px, 602px 172px, 584px 201px, 555px 238px, 522px 287px, 523px 313px, 500px 324px, 467px 377px, 456px 351px, 431px 329px, 398px 302px);
    */
    
    
    -webkit-shape-outside: polygon(318px 267px, 276px 246px, 233px 213px, 218px 174px, 212px 153px, 223px 120px, 270px 89px, 317px 84px, 367px 102px, 405px 153px, 436px 86px, 500px 29px, 563px 24px, 600px 36px, 613px 66px, 622px 100px, 617px 136px, 602px 172px, 584px 201px, 555px 238px, 522px 287px, 523px 313px, 500px 324px, 467px 377px, 456px 351px, 431px 329px, 398px 302px);
    shape-outside: polygon(318px 267px, 276px 246px, 233px 213px, 218px 174px, 212px 153px, 223px 120px, 270px 89px, 317px 84px, 367px 102px, 405px 153px, 436px 86px, 500px 29px, 563px 24px, 600px 36px, 613px 66px, 622px 100px, 617px 136px, 602px 172px, 584px 201px, 555px 238px, 522px 287px, 523px 313px, 500px 324px, 467px 377px, 456px 351px, 431px 329px, 398px 302px);
    width: auto;
    height: 400px;
    margin-left: 7.5vw;
    margin-bottom: 100px;
    
    
}

#couple{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    margin-bottom: 100px;
    width:100%;
   
}

#couple > div{
    margin-right: 100px;
    width: 1000px;
}

#couple img {
    -webkit-shape-outside: polygon(141px 351px, 153px 314px, 173px 284px, 179px 252px, 170px 226px, 171px 201px, 192px 182px, 216px 182px, 212px 153px, 223px 120px, 254px 102px, 276px 82px, 280px 45px, 607px 44px, 608px 407px, 144px 405px);
    shape-outside:polygon(141px 351px, 153px 314px, 173px 284px, 179px 252px, 170px 226px, 171px 201px, 192px 182px, 216px 182px, 212px 153px, 223px 120px, 254px 102px, 276px 82px, 280px 45px, 607px 44px, 608px 407px, 144px 405px);
    width: auto;
    height: 400px;
    float: right;
    
}

#singlar{
    text-align: center;
}

#backgroundFiller{
    bottom: 0px;
    width: 800px;
}

@media screen and (orientation: portrait){
    #centerContent{
        top: 80vh;
    }
}


/*index slut/*
/* header*/
#header {
    top: 0;
}

 
.navbar-nav {
    float:none;
    margin: auto;
    display: block;
    text-align: center;
    clear: inherit;

}
#banner{
    width: 100%;
    padding: 0;


}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

}
.navbar-nav>li>a {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
    width: 120px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    margin-top: 1px;
    background: #ffebae;
    height: 105%;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    background-color: #ef7c24;
    margin-top: 1px;
    margin-bottom: -1px;
    margin-left: 10px;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: #ef7c24;
    margin-top: 1px;
}

#menubar{
    background-color: black;
    border-radius: 0;
    color: black;
    opacity: 0.9;
}
.glyphicon{
    font-weight: 200;
    font-size: small;
}
/* header end*/
/* footer*/
#footer{
    background-color: black;
    height: 100%;
    color:#ffebae;
}
.footerLinks{
    color:#ffebae;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.footerLinks:hover{
    color: #ef7c24;
    text-decoration: none;
}

#footerLogo{
    width: 50%;
    margin-left: -5px;
}

#socMedia>a{
    margin-left: 15px;

}
.fa-facebook-square{
    font-size: large;
    color:#ffebae;
}
.fa-facebook-square:hover{
    color: #ef7c24;
}
.fa-twitter{
    color:#ffebae;
}
.fa-twitter:hover{
    color: #ef7c24;
}
.fa-instagram{
    color:#ffebae;
}
.fa-instagram:hover{
    color: #ef7c24;
}
/* footer end*/
/*Arman end*/