

#header {
    position: relative;
    top: 0;
}
#galleryFooter{
    bottom: 0px;
    position: relative;
    background-color: black; 
    height: 132px; 
    width: 100%;
}
#footerLogo{
    
    margin:auto;
    width: auto;
    height: 100%;
    

}
.row{
    height: auto;
}

#flexContainer{
    margin: 10vw;
    position: relative;
    top: -20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80vw;
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
        
}

#flexRow{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile{
    display:inline-block;
    height:auto;
    border: 1px solid black;
    margin: 2px;
    background-color: white;
}

.profile img{
    padding:5px;
    height:auto;
    width: 300px;
  
}

.profileInfo{
    margin:5px;
    width: 100%;
    height: 50px;
}

#galleryBackgroundFiller{
    position: fixed;
    bottom:0px;
    top: 35vh;
    overflow: hidden;
    z-index: -10;
    width: 600px;
    height: auto;
    margin-bottom: 130px;
}

#filterOptions{
    position:relative;
    display: block;
    width: 400px;
    height: 100px;
    margin:auto;
}