html {}

body {}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.abouryou {
    padding: 20px;
    height: 150px;
    background-color: rgba(217, 237, 247, 0.3);
    border-radius: 15px;
}

.editUser {
    border-radius: 5px;
    background-color: #d9edf7;
    position: fixed;
    top: 100px;
    left: 25%;
    width: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1000000;
    right: 30px;
    bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 50px;
    box-shadow: 7px 7px 10px rgba(100, 100, 100, 0.4);
}

.editUserShow {
    width: 50%;
}

#AboutYou {
    width: 700px;
}

#editInput {
    height: 20px;
}

#typAllt {
    position: relative;
    clear: both;
}

#profileFooter {
    bottom: 0px;
    position: relative;
    background-color: black;
    height: 132px;
    width: 100%;
    margin-top: 100px;
    left: 0;
    bottom: -32px;
}

#profileFooterLogo {
    position: relative;
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
}

#contentCenter {
    width: auto;
    height: 100;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#profilePic {
    height: auto;
    width: auto;
}

#profileAbout,
#profileMatch {
    margin: 15px;
    display: inline-block;
    font-weight: bold;
}

#infoTable tr td:nth-child(1) {
    font-weight: bold;
}

#txt {
    position: absolute;
    right: 30px;
}

#backgroundFiller {
    top: 200px;
    width: 800px;
    position: absolute;
}

#map {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 60%;
    height: 400px;
    background-color: gray;
}

#tellUs {
    display: block;
    margin-top: 120px;
}

#profilBestMatchList {
    display: block;
    position: relative;
    height: 50px;
    width: 60%;
}

#profilBestMatchContainer {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: block;
    position: relative;
    height: 50px;
    width: 60%;
}

#profilBestMatchList {
    text-align: center;
    margin: auto;
    position: relative;
    height: 50px;
    width: 60%;
    font-size: 2em;
    text-decoration: underline;
}