
body{
<<<<<<< HEAD

=======
>>>>>>> e92d49cf744c47485fc25a32797b082d09c9f0be
}
img{

}
h1 {
  text-align: center;
}
textarea{
<<<<<<< HEAD
      border-radius: 5px;

}
.row{

=======
    border-radius: 5px;
>>>>>>> e92d49cf744c47485fc25a32797b082d09c9f0be
}
.regOptionText{
    font-size: 13.5pt;
}
.regInfo {
  font-style: italic;
  color: #92959b;
  font-size: 12px;
}
.row{
<<<<<<< HEAD

=======
  margin: 15px;
>>>>>>> e92d49cf744c47485fc25a32797b082d09c9f0be
}
.regOptionText{
    text-align: left;
}
.regInput {
  float: right;
}
.regConfirm {
  float: right;
  margin: 10px;
}
<<<<<<< HEAD
.row {

}

=======
>>>>>>> e92d49cf744c47485fc25a32797b082d09c9f0be
.regInput, select, option {
  border-radius: 5px;
  padding: 4px 12px;
  font-size: 16px;
}
<<<<<<< HEAD
.regConfirm {
  float: right;
  margin: 10px;
}
.row {

}

=======
>>>>>>> e92d49cf744c47485fc25a32797b082d09c9f0be
button {
    border-radius: 5px;
}
.regDropdown {
    width:50px;
}
